.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.timer {
  height: 50px;
  width: 100%;
  display: flex;
justify-content: center;
/* background-color: aqua; */
  margin-bottom: 20px;
}

.timer p {
  height: 100%;
  width:140px;
  font-size: 18px;
/* background-color: aqua; */


}

.flip-cards {
  height: auto;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
justify-self: center;  
}

button {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color:red;
}
